# Posttest 2

# Import Package
Library Pandas

In [2]:
import pandas as pd

# Membaca Dataset

In [3]:
data = pd.read_csv("vgsales.csv")
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [19]:
data[["NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]].corr()

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
NA_Sales      1.000000  0.767727  0.449787     0.634737      0.941047
EU_Sales      0.767727  1.000000  0.435584     0.726385      0.902836
JP_Sales      0.449787  0.435584  1.000000     0.290186      0.611816
Other_Sales   0.634737  0.726385  0.290186     1.000000      0.748331
Global_Sales  0.941047  0.902836  0.611816     0.748331      1.000000

In [15]:
data[["NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]].mean()

NA_Sales        0.264667
EU_Sales        0.146652
JP_Sales        0.077782
Other_Sales     0.048063
Global_Sales    0.537441
dtype: float64

In [16]:
data[["NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]].min()

NA_Sales        0.00
EU_Sales        0.00
JP_Sales        0.00
Other_Sales     0.00
Global_Sales    0.01
dtype: float64

In [17]:
data[["NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]].max()

NA_Sales        41.49
EU_Sales        29.02
JP_Sales        10.22
Other_Sales     10.57
Global_Sales    82.74
dtype: float64

In [18]:
data[["NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]].std()

NA_Sales        0.816683
EU_Sales        0.505351
JP_Sales        0.309291
Other_Sales     0.188588
Global_Sales    1.555028
dtype: float64

In [21]:
data[["Rank","Year","NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]].head(10)

   Rank    Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     1  2006.0     41.49     29.02      3.77         8.46         82.74
1     2  1985.0     29.08      3.58      6.81         0.77         40.24
2     3  2008.0     15.85     12.88      3.79         3.31         35.82
3     4  2009.0     15.75     11.01      3.28         2.96         33.00
4     5  1996.0     11.27      8.89     10.22         1.00         31.37
5     6  1989.0     23.20      2.26      4.22         0.58         30.26
6     7  2006.0     11.38      9.23      6.50         2.90         30.01
7     8  2006.0     14.03      9.20      2.93         2.85         29.02
8     9  2009.0     14.59      7.06      4.70         2.26         28.62
9    10  1984.0     26.93      0.63      0.28         0.47         28.31

In [28]:
data[["Rank","Year","NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]].to_csv("Atribut Angka.csv", index=False)